<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Catalogue</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row">
				{%	for each in products%}
				<div class="col-sm-3">
					<form action="delete" method="POST">
						<div class="card" style="width: 18rem;">
							<div class="card-body">
								<h5 class="card-title">{{each[1]}}</h5>
								<p class="card-text">{{each[2][:20]+'...'}}</p>
								<p class="card-text">Category: {{each[3]}}, Company: {{each[4]}}, ID: {{each[0]}}</p>
								<input type="hidden" name="ID" value={{each[0]}}>
								<input type="submit" value="View" class="btn btn-primary">
						  </div>
						</div>
					</form>
				</div>
				{%	endfor %}
			</div>
		</div>
	</body>
</html>